body {
    background: #cdcdcd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    background-color: lightslategray;
    position: fixed;
    top: 0;
    left: 0;
    width: 1000vw;
    z-index: 4;
  }

  li {
    list-style: none;
    transition: transform 0.3s;
  }
  .burger {
    display: none;
  }
  .check {
    display: none;
  }
  
  @media (max-width: 470px) {
    .burger {
      display: block;
    }
    ul {
      position: absolute;
      top: 100%;
      left: 0;
      flex-direction: column;
      background-color: lightslategray;
      padding-left: 0;
      margin: 0;
      align-items: center;
      width: 100vw;
      display: none;
    }

.check {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
  }
  .check:checked + ul {
    display: flex;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  }