header {
  background-color: lightslategray;
  position: fixed;
  top: 0;
  left: 0;
  width: 1000vw;
  z-index: 4;
}
h1 {
  display: flex;
}

p {
  display: flex;
  max-width: 500px;
  font-size: 20px;
}

ul {
  display: flex;
  /* justify-content:space-around; */
  gap: 25px;
  flex-direction: row;
  /*align-items: center;*/
}
a:hover {
  color: white;
}
li {
  list-style: none;
  transition: transform 0.3s;
}
li:hover {
  transform: translateY(-1.5px);
}
a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
main {
  margin-top: 80px;
}

body {
  background: #cdcdcd;
}

.cube {
  width: 300px;
  height: 300px;
  background-color: lightslategray;
  position: relative;
  border-style: solid;
  border-color: black;
}

.inner-cube {
  width: 100px;
  height: 100px;
  background-color: #37eeb1;
  position: absolute;
  top: 50%;
  right: 50%;
  border-style: dashed;
  border-color: black;
}

.burger {
  display: none;
}
.check {
  display: none;
}

@media (max-width: 470px) {
  .burger {
    display: block;
  }
  ul {
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    background-color: lightslategray;
    padding-left: 0;
    margin: 0;
    align-items: center;
    width: 100vw;
    display: none;
  }
  li {
    padding-bottom: 20px;
  }
  .check {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
  }
  .check:checked + ul {
    display: flex;
  }
}

footer {
  background-color: lightslategray;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 1000vw;
  z-index: 4;
}
