header {
  background-color: lightslategray;
  position: fixed;
  top: 0;
  left: 0;
  width: 1000vw;
  z-index: 4;
}
h1 {
  display: flex;
}

p {
  display: flex;
  max-width: 500px;
  font-size: 20px;
}

ul {
  display: flex;
  /* justify-content:space-around; */
  gap: 25px;
  flex-direction: row;
  /*align-items: center;*/
}
a:hover {
  color: white;
}
li {
  list-style: none;
  transition: transform 0.3s;
}
li:hover {
  transform: translateY(-1.5px);
}
a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
main {
  margin-top: 80px;
}

body {
  background: #cdcdcd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cube {
  width: 300px;
  height: 300px;
  background-color: #655dbb;
  position: relative;
  border-style: solid;
  border-color: black;
}

.inner-cube {
  width: 100px;
  height: 100px;
  background-color: #bface2;
  position: absolute;
  top: 50%;
  right: 50%;
  border-style: dashed;
  border-color: black;
}

.burger {
  display: none;
}
.check {
  display: none;
}

@media (max-width: 470px) {
  .burger {
    display: block;
  }
  ul {
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    background-color: lightslategray;
    padding-left: 0;
    margin: 0;
    align-items: center;
    width: 100vw;
    display: none;
  }
  li {
    padding-bottom: 20px;
    opacity: 1;
  }
  .check {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
  }
  .check:checked + ul {
    display: flex;
  }
}

footer {
  position: fixed;
  right: -75%;
  width: 100%;
  bottom: 0;
  z-index: 0;
  opacity: 1;
  max-width: 100%;
}

.square-1 {
  width: 100px;
  height: 100px;
  background-color: #245953;
  margin-left: 50px;
  transition: transform 0.5s;
  margin: 50px;
}
.square-2 {
  width: 100px;
  height: 100px;
  background-color: #408e91;
  margin-left: 50px;
  transition: transform 0.5s;
  margin: 50px;
}
.square-3 {
  width: 100px;
  height: 100px;
  background-color: #e49393;
  margin-left: 50px;
  transition: transform 0.5s;
  margin: 50px;
}
.square-4 {
  width: 100px;
  height: 100px;
  background-color: #d8d8d8;
  margin-left: 50px;
  transition: transform 0.5s;
  margin: 50px;
}
.square-1:hover {
  transform: scale(1.5);
}

.square-2:hover {
  transform: rotate(45deg);
}

.square-3:hover {
  transform: translateX(100px) translateY(-50px);
}

.square-4 {
  transform-origin: bottom right;
}

.square-4:hover {
  transform: rotate(90deg);
}
