* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color: white;
  font-family: sans-serif;
}

body {
  background-color: rgb(3, 1, 28);
}

header {
  background-color: rgb(42, 187, 254);
  width: 100vw;
  position: fixed;
  z-index: 0;
  height: 60px;
  top: 0;
  left: 0;

  /* Te jāpapildina CSS */
}

footer {
  background-color: rgb(42, 81, 254);
  width: 100vw;
  position: fixed;
  z-index: 0;
  height: 60px;
  bottom: 0;
  margin-bottom: auto;
  left: 0;
  /* Te jāpapildina CSS */
}

main {
  max-width: 700px;
  margin: 60px auto;
  margin-bottom: 60px;
}

article {
  /* Te jāpapildina CSS */
  margin-bottom: 200px;
  margin-top: 100px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

img {
  width: 400px;
}

p {
  font-size: 2rem;
}
.one-destination{
  position: relative;
  display: grid;
}

.liepaja {
  position: absolute;
  margin-top: 330px;
  margin-left: 150px;
   
}

.australia {
  position: absolute;
  margin-top: 320px;
  margin-left: 20px;
  
}
.indonesia {
  position: absolute;
margin-top: 320px;
margin-left: 140px;

}


